.stickyHeader {
	height: 46px;
	background-color: #03befc;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.divText {
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

p {
	font-family: 'Roboto', sans-serif;
}

.imgDiv {
	height: 100%;
}

.headingDiv {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
}
